.content-editable {
    padding: 10px 10px 10px 10px;
    background: #ffffff;
  }
  
/* .content-editable:hover {
    background: #f7f7f7;
}

.content-editable:focus {
    background: #fcf8e1;
    outline: 0;
} */